database:
  # the name of your JDBC driver
  driverClass: org.postgresql.Driver

  # the username
  user: thoughtworks

  # the password
  password: Passw0rd

  # the JDBC URL
  url: jdbc:postgresql://localhost/senescyt

  # any properties specific to your JDBC driver:
  properties:
    charSet: UTF-8
    hibernate.dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate.show_sql: true

  # the maximum amount of time to wait on an empty pool before throwing an exception
  maxWaitForConnection: 2s

  # the SQL query to run when validating a connection's liveness
  validationQuery: "/* Servicio Usuario Health Check */ SELECT 1"

  # the minimum number of connections to keep open
  minSize: 8

  # the maximum number of connections to keep open
  maxSize: 256

  # whether or not idle connections should be validated
  checkConnectionWhileIdle: false

logging:
  level: DEBUG

  appenders:
    - type: console
      threshold: INFO
      target: stderr
      timeZone: EST

    # Log info, warnings and errors to our apps' main log.
    # Rolled over daily and retained for 5 days.
    - type: file
      threshold: INFO
      currentLogFilename: ./logs/servicio-usuario.log
      # When the log file rotates, the archived log will be renamed to this and gzipped. The
      # %d is replaced with the previous day (yyyy-MM-dd). Custom rolling windows can be created
      # by passing a SimpleDateFormat-compatible format as an argument: "%d{yyyy-MM-dd-hh}".
      archivedLogFilenamePattern: ./logs/servicio-usuario-%d.log.gz
      archivedFileCount: 5
      timeZone: EST

    # Log debug messages, info, warnings and errors to our apps' debug log.
    # Rolled over hourly and retained for 6 hours
    - type: file
      threshold: DEBUG
      currentLogFilename: ./logs/debug-servicio-usuario.log
      archivedLogFilenamePattern: ./logs/debug-servicio-usuario-%d{yyyy-MM-dd-hh}.log.gz
      archivedFileCount: 6
      timeZone: EST

configuracionEmail:
  servidor: smtp.gmail.com
  puerto: 465
  isDebugModeActivo: true
  isSSLRequerido: true
  nombreUsuario: invalidEmail@invalidEmail.com
  clave: test
  correoRemitente: invalidEmail@invalidEmail.com
  nombreRemitente: Test

configuracionBSG:
  usuario: test
  contrasenia: test
  numeroAcceso: test

server:
#  softNofileLimit: 1000
#  hardNofileLimit: 1000
  applicationConnectors:
    - type: http
      port: 8080
    - type: https
      port: 8443
      keyStorePath: test.keystore
      keyStorePassword: test
      validateCerts: false